name: release

on:
  push:
    branches: [main]

jobs:
  tag:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.bump_version.outputs.new_tag }}
    steps:
      - name: checkout source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: create and push tag
        uses: anothrNick/github-tag-action@1.22.0
        id: bump_version
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
          DEFAULT_BUMP: patch
          WITH_V: true

  build:
    runs-on: ubuntu-latest
    needs: tag
    steps:
      - name: checkout source
        uses: actions/checkout@v2
        with:
          ref: ${{ needs.tag.outputs.tag }}

      - name: build and push docker image to github registry
        uses: matootie/github-docker@v3.0.0
        with:
          accessToken: ${{ secrets.GH_ACCESS_TOKEN }}
          tag: |
            latest
            ${{ needs.tag.outputs.tag }}




